# This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of the MPL was not
# distributed with this file, You can obtain one at https://mozilla.org/MPL/2.0/.

# CMake preset folders.
build
install

# CLion project files and build folders.
.idea
cmake-build*

# Visual Studio project files and build folders.
.vs
out*

# Prerequisites.
*.d

# Compiled object files.
*.slo
*.lo
*.o
*.obj

# Precompiled headers.
*.gch
*.pch

# Compiled dynamic libraries.
*.so
*.dylib
*.dll

# Compiled static libraries.
*.lai
*.la
*.a
*.lib

# Executables.
*.exe
*.out
*.app

